.sign-up-btn {
    width: 67px;
    height: 21px;
    display: flex;
    background: white;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #262b3d;
}
.sign-up-btn.complete {
    margin-left: auto;
    margin-right: 132px;
    justify-content: center;
}
.sign-up-btn.new {
    margin-right: 132px;
    margin-left: auto;
    margin-top: 11px;
    justify-content: center;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
}
.dashboard .card {
    font-family: Gotham Rounded;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    width: 328px;
    height: 178px;
}
.dashboard .card .card-title {
    display: flex;
}
.dashboard .card .card-title .title {
    font-size: 20px;
    color: #262b3d;
    margin-left: 15px;
    margin-top: 16.6px;
}
.dashboard .card .card-title .hexagon {
    margin-left: 21px;
    margin-top: 16px;
}
.dashboard .card .description {
    height: 54px;
    width: 274px;
    font-size: 12px;
    color: #525252;
    margin-left: 31px;
    margin-right: 23px;
    margin-bottom: 9px;
    margin-top: 16px;
    overflow: auto;
}
.dashboard .card .unlocked-role {
    display: flex;
    flex-direction: column;
}
.dashboard .card .unlocked-role .progress-container progress {
    background-color: #f3f3f3;
    width: 190px;
    height: 12px;
    margin-left: 56px;
}
.dashboard .card .unlocked-role .progress-container progress::-webkit-progress-bar {
    background: #dfdfdf;
}
.dashboard .card .unlocked-role .progress-container progress::-webkit-progress-value {
    background: #b0bbfd;
}
.dashboard .card .unlocked-role .progress-container label {
    margin-left: 10px;
    font-size: 10px;
    color: #262b3d;
}
.dashboard .card .unlocked-role .in-progress {
    margin-top: 15px;
    margin-right: 23px;
    margin-left: auto;
}
.dashboard .card .unlocked-role .in-progress .resume-role {
    border: none;
    background: none;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #262b3d;
    border-radius: 5px;
}
.dashboard .card .unlocked-role .completed-before {
    display: flex;
    margin-top: 11px;
}
.dashboard .card .unlocked-role .completed-before .completed {
    margin-left: 15px;
    margin-top: 4px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #262b3d;
    border-radius: 5px;
}
.dashboard .card .locked-role .prereq-title {
    margin-left: 19px;
    font-size: 8px;
    text-transform: uppercase;
    color: #2f2f2f;
}
.dashboard .card .locked-role .remaining-prereqs {
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
}
.dashboard .card .locked-role .remaining-prereqs .check-for-prereq {
    padding: 0;
    margin-right: 6px;
}
.dashboard .card .locked-role .remaining-prereqs .check-for-prereq .iterate-cards {
    padding: 0;
}
