<div class="dashboard">

	<ul class="card" *ngFor="let card of cards; let i = index">
		<div class="card-title">
      <img class="hexagon" [src]="constructSrc(card.hex, 25)">
			<span class="title">{{card.title}}</span>
		</div>
		<div class="description">
			{{card.desc}}
		</div>
		<div class="unlocked-role" *ngIf="card.unlocked">
      <div class="progress-container">
			<progress id="progress" class="progress-bar" value="{{card.progress}}" max="100"></progress>
			<label for="progress">{{card.progress}} %</label>
      </div>
			<div class="in-progress" *ngIf="card.inProgress">
        <input class="resume-role" type="button" (click)="resumeRole()" value="Resume >">
			</div>

      <div class="completed-before" *ngIf="(!card.inProgress)&&(card.timesCompleted > 0)">
				<span class="completed">
          {{card.timesCompleted}} Completed
        </span>
				<button class="sign-up-btn complete" (click)="signUp()">Sign Up</button>
			</div>

      <div class="new-role" *ngIf="(card.timesCompleted == 0) && !card.inProgress">
				<button class="sign-up-btn new" (click)="signUp()">Sign Up</button>
			</div>

		</div>
    <div class="locked-role" *ngIf="!card.unlocked">
      <div class="prereq-title">
        Prerequisite Roles Remaining:
      </div>
      <div class="remaining-prereqs">
      <ul class="check-for-prereq" *ngFor="let role of card.preReqs">
      <ul class="iterate-cards" *ngFor="let c of cards">
        <div class="prereq-compare" *ngIf="role == c.title">
          
          <img class="preReq-roles" [src]="constructSrc(c.hex, 20)" matTooltip="{{role}}">
          
          
        </div>
      </ul>
      </ul>
      </div>
    </div>
	</ul>
</div>