<form [formGroup]="clientAddForm">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <div mat-card-avatar class="page-title-logo"></div>
            <mat-card-title class="page-title" *ngIf="client == null">Create a client </mat-card-title>
            <mat-card-title class="page-title" *ngIf="client != null">Edit current client</mat-card-title>
            <mat-card-subtitle>
                <span>Enter the client informations, make sure you entered a link or a file, then submit</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div class="row">
                    <div class="col m4">
                        <mat-form-field appearance="fill">
                            <mat-label>Nom client</mat-label>
                            <input matInput formControlName="product_name" required>
                        </mat-form-field>
                    </div>
                    <div class="col m4">
                        <mat-form-field appearance="fill">
                            <mat-label>Adresse</mat-label>
                            <input matInput formControlName="tva" required>
                        </mat-form-field>
                    </div>
                    <div class="col m4">
                        <mat-form-field appearance="fill">
                            <mat-label>Telephone</mat-label>
                            <input matInput formControlName="price" required>
                        </mat-form-field>
                    </div> 
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<mat-dialog-actions align="end">
    <button mat-button class="save-button" (click)="submitClient()">Save</button> 
    <button mat-button [mat-dialog-close]="true" (click)="onNoClick()">Close</button>
</mat-dialog-actions>

